{
	email {$ACME_EMAIL}
}

{$LIBRARY_API_DOMAIN} {
	encode zstd gzip
	request_body {
		max_size 250MB
	}
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		-Server
	}
	reverse_proxy 127.0.0.1:8000 {
		health_uri /healthz
		health_interval 30s
	}
	log {
		output file /var/log/caddy/library-api-access.log {
			roll_size 25MiB
			roll_keep 5
		}
		format json
	}
}
